/* Media Queries */
@media screen and (max-width: 1024px) {
    #backToTopBtn {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .heading {
        font-size: 38px;
    }

    .image-container {
        margin: 10px 27%;
    }

    .img-title {
        left: 18px;
        bottom: 18px;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 36px;
    }

    .image-container {
        margin: 10px 22%;
    }

    .img-title {
        left: 15px;
        bottom: 15px;
    }

    #backToTopBtn {
        height: 45px;
        width: 45px;
        font-size: 17px;
    }

    .err-text {
        font-size: 18px;
        font-weight: 550;
    }

    .retry-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        font-size: 30px;
    }

    .image-container {
        margin: 10px 15%;
    }

    .img-title {
        left: 12px;
        bottom: 12px;
    }

    #backToTopBtn {
        right: 24px;
    }

    .err-text {
        font-size: 17px;
        font-weight: 520;
    }

    .retry-btn {
        font-size: 13px;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        /* font-size: 27px; */
        font-size: 20px;
        letter-spacing: 4px;
    }

    .image-container {
        margin: 10px 10%;
    }

    .loader img {
        width: 100px;
    }

    .img-title {
        left: 10px;
        bottom: 10px;
        font-size: 14px;
    }

    #backToTopBtn {
        bottom: 26px;
        right: 20px;
        padding: 0;
    }

    .err-text {
        font-size: 16px;
        font-weight: 500;
    }

    .retry-btn {
        padding: 9px 18px;
        font-size: 12px;
    }

    .retry-btn:hover {
        padding: 8px 17px;
        border: 3px solid rgb(139, 151, 241)
    }
}

@media screen and (max-width: 425px) {
    .heading {
        font-size: 17px;
        letter-spacing: 3px;
    }

    .image-container {
        margin: 10px 15px;
    }

    #backToTopBtn {
        bottom: 24px;
        right: 19px;
    }

    .err-message img {
        width: 160px;
    }

    .err-text {
        font-size: 12px;
        padding: 0 15px;
    }

    .retry-btn {
        padding: 7px 15px;
        font-size: 10px;
    }

    .retry-btn:hover {
        padding: 6px 14px;
        border: 3px solid rgb(139, 151, 241)
    }
}

@media screen and (max-width: 280px) {
    .box {
        min-height: 100px;
    }
}